:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color-secondary: #2f303a;
  --bachgroun-button-portfolio: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.header-page {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 0px;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: var(--primary-white-color);
}

/* site nav */
.site-nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

/* auth nav */
.auth-nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}

/* Заказ услуг */
.order {
  background: var(--background-color-secondary);
  text-align: center;
  padding-bottom: 600px;
}
.order-btn {
  background: var(--accent-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin: 0px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* наше преимущество */

.features .title {
  color: var(--title-text-color);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.description {
  line-height: 24px;
  letter-spacing: 0.03em;
}
/* Чем мы занимаемся */

/* Наша команда */
.team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Футер */
.footer {
  background-color: var(--background-color-secondary);
  margin-top: 94px;
}
.address {
  font-style: inherit;
}
.address-a {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.contacts-a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

/* Portfolio */

.navigation-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background: var(--bachgroun-button-portfolio);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.navigation-btn:focus,
.navigation-btn:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-top: 20px;
  margin-bottom: 4px;
}
.portfolio-services {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
